@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Fira+Code:wght@900&family=Martel+Sans:wght@500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container{
    background:linear-gradient(135deg,rgb(126, 0, 27),rgb(160, 44, 150));
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding: 10px;
}

.calculator{
    background: linear-gradient(135deg,#62055a,rgb(126, 0, 27));
    /* For Making Center */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */

    /* For displaying in one side */
    width: 80%;
    margin: 12%;
    max-width: 600px;
    overflow: hidden;

    /* Normal Code */
    border-radius: 10px;
    padding: 20px 25px;
}

.calculator p{
    text-align:center;
    font-size: 2rem;
    font-weight: 700;
}

.input-box{
    width: 100%;
    background-color: rgba(255, 235, 205, 0.233);
    padding: 20px 40px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.input-box input{
    width: 300px;
    height: 40px;
    margin-right: 20px;
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.input-box button{
    width: 150px;
    height: 40px;
    cursor: pointer;    
    background-color: #b47e04;
    outline: 0;
    border: 1px  solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
}

button:hover{
    background-color: #916503;
}